
.LoginApp{
    min-height:88vh; 
    /* (100-navbar ht of 7vh - footer ht of 5 vh) */
    margin:0 auto;
    padding:2rem 0;
}
.LoginForm{
    width:50%;
   margin:0 auto;
}
@media (min-width:992px){
    .LoginForm{
        width:35%;
        
    }
}
