*{
    box-sizing: border-box;
}
.MenuApp{
    margin:2rem auto;
    min-height:86vh;
}
.flexContainer{
    display: flex;
    width:90%;
    justify-content: center;
    margin:0 auto;
}
.sideNav{
    width:20%;
    /* border:2px solid red; */
    border-right:none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    /* padding-top: 1rem; */
}

.sideNav>p{
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    cursor: pointer;
    margin:0 auto;
    border-right:2px solid grey;
}
.sideNav>p.clicked{
    border:2px solid grey;
    border-right:none;
}
.sideNav>p:hover{
    color:red;
}


.itemList{
    width:45%;
    border:2px solid grey;
    border-left:none;
    padding: 1rem 2rem;
    margin-right: 2rem;;
    margin-left:-2px;
}
.list>h2{
    text-transform: uppercase;
    margin-bottom: 1.5rem;;
}
.cart{
    display:flex;
    flex-direction: column;
    width:30%;
    /* border:2px solid red; */
}

.hidden{
    display: none;
}


/* menu item styling */
.MenuItem{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding-bottom: 0;
    
}
.rightSide{
    width:40%;
    justify-content: space-between;
}
.leftSide{
    width:60%;
}

/* cart styling */

.Cart{
    width:100%;
    margin: 0 auto 3rem auto;
}
.checkout{
    width:100%;
}


/* cart form styling */

/* .CartForm{
    width:50vw;
    position:fixed;
    top:10vh;
    left:25vw;
    z-index:9;
    padding:1rem 4rem;;
    background: linear-gradient(65deg,rgba(0,0,0,0.4), rgba(0,0,0,0.5));
    border-radius: 15px;
    color:white;
} */







@media (min-width:768px){

}