
.DishApp{
    width:100%;
    margin: 0 auto;
    height: 86vh;
    overflow-x: auto;
    padding:2rem 2rem;
    padding-bottom: 5vh;
}
.DishApp >h2{
    cursor: pointer;
}

.EditDishForm{
    margin-right: 1rem;
    width:18rem;
    border:2px solid red;
    border-radius: 10px;
    padding:5px;
}

.AddDish{
    width:50%;
    margin:1rem 0.5rem;
    border:2px solid green;
    border-radius: 10px;
    padding:5px 10px;
}

.dishCard{
    width:18rem;
    margin-bottom: 1rem;
    margin-right: 1rem;;
}


.hidden{
    display: none;
}

@media(min-width:1200px){
    .DishApp{
       padding:2rem 5rem;
    }
}